:root {
    --cor-principal: #FFFFFF;
    --cor-link: #1b16b9;
    --hover-link: rgb(146, 215, 8);
    --dados-contato: #920c4a;
    --cor-preto: black;
    --cor-cargo: #920c4a;
}


body {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(180deg, #1e5270c8, #36042d5a , #1e5270c8);
  
}


 header {
    display: flex;
    align-items: center;
 }


.imagem__perfil {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #d01632;
    margin: 0 10px; 
    outline: calc(100px / 2) solid #0009;
    outline-offset: calc(100px / -2);
    cursor: pointer;
    transition: 0.3s;
    
}

.imagem__perfil:hover {
    outline: 8px solid #5d52a2;
    outline-offset: 5px;
  }

  .nome {
    font-size: 25px;
    color: var(--cor-principal);
}

#dados__contato {
    margin: 29px 0 20px 5px;
    width: 90%;
    color: var(--dados-contato);
    font-weight: bold;
}

#botao {
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: var(--cor-principal);
    background-color: var(--cor-cargo);
    text-transform: uppercase;
}


.cor__link , a {
    color: var(--cor-link);

}

.linkedin , .email , .gitHub {
    margin-left: 3px;
    text-decoration: none;

}

.site__fasam , .curso__alura {
    text-decoration: none;
}


.linkedin:hover , .email:hover , .curso__alura:hover ,
.site__fasam:hover , .gitHub:hover {
    color: var(--hover-link);
}


.conteudo {
    display: flex;
}


.experiencia__profissional {
    margin-right: 10em;
    margin-left: 10px ;
    width: 50%;

}


.experiencia , .formacao {
    color: var(--cor-preto);
    font-size: 24px;
} 

.estudos {
    width: 50%;
    height: 100%;
    
}

h2 {
    color: var(--cor-cargo);
    margin: 10px 0 5px 0;
}

.periodo {
    color: var(--cor-principal);
    padding: 0.3em;
}


.itens {
    list-style: inside;
   
}


table ,th, tr, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.1em;
    text-align: center;
    
}

.cabecalho__tabela {
    color:  #750a25f1;
}

