:root {
    --cor-principal: #FFFFFF;
    --cor-link: #1b16b9;
    --hover-link: rgb(243, 244, 240);
    --dados-contato: #b0b815;
    --cor-subtitulos: #d2b77b;
}

body { 
    background: linear-gradient(90deg, rgba(10, 5, 5, 0.79), rgba(68, 68, 75, 0.79));
    font-weight: bold;
    
 }

 img, .dados__contato  {
    display: inline-block;

}   

header {
    display: flex;
    align-items: center;
}

img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #080102;
    margin: 0 10px; 
}

.dados__contato {
    margin: 29px 0 20px 5px;
    width: 100%;
    color: var(--dados-contato);
    font-weight: bold;
}

.nome {
    font-size: 25px;
    color: var(--cor-principal)
}

.email:before {
    content: "Ⓛ " ;
    margin-left: 15px;
}

.email {
   color: var(--cor-link);

}

.linkedin:before {
    content: "Ⓛ ";
}

.linkedin {
    color: var(--cor-link) 
}

.linkedin:hover , .email:hover {
    color: var(--hover-link);
}


 main {
    margin: 20px;
    color: var(--branco-principal)
}

h1 {
    color: var(--cor-principal);
    font-weight: bold;
} 

h2 {
    color: var(--cor-subtitulos);
    font-weight: bold;
    margin: 10px 0 5px 0;
}

p {

}

.conteudo-esquerdo {
    width: 49.5%; height: 690px; float: left ; ;

}

.conteudo-direito {
    width: 50%; height: 690px; float: right; 

}



.experiencia-profissional {
    font-weight: bold;
    font-size: 17px;
    font-style: arial

}

.curso__alura {
    color: var(--cor-link);
}

.site__fasam {
    color: var(--cor-link);
}

.itens:before {
    content: "•";
}

strong {
    font-weight: bold;
}

.formacao {
    font-weight: bold;
}

table ,th, tr, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
    
}
