:root {
    --background-body: linear-gradient(180deg, #1e5270c8, #36042d5a , #1e5270c8);
    --cor-principal: #FFFFFF;
    --cor-link: #1b16b9;
    --hover-link: rgba(170, 194, 12, 0.548);
    --dados-contato: #920c4a;
    --cor-preto: black;
    --cor-cargo: #920c4a;
    --cor-tabelaTitulo: rgb(177, 64, 19);
}

body {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Teko', sans-serif;
    font-size: 14px;
    background: var(--background-body)
}

header {
    display: flex;
 }

.dados {
    width: 20vw;
}

.imagem__perfil {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    margin: 20px 0px 20px 20px ;
}

.imagem__perfil:hover {
    outline: 8px solid var(--cor-cargo);
    outline-offset: 10px;
}

.nome {
    font-size: 25px;
    color: var(--cor-preto);
}



#dados__contato {
    margin: 10px 0 0 34px;
    color: var(--dados-contato);
    font-size: 14px;
    background-color: var(--background-body);
    position: absolute;
}

.botao {
    border-radius: 30px;
    text-align: center;
    color: var(--cor-principal);
    background-color: var(--cor-cargo);
    text-transform: uppercase;
    margin: 55px 0 0 38px;
    padding: 0.5em;
    display: flex;
}

.fechar {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    border-radius: 40px;
    text-align: center;
    background-color: var(--cor-cargo);
    color: var(--cor-principal);
    text-transform: uppercase;
    top: 115px;
    right:  51px;
    padding: 7px;
    font-weight: 500;

}

#dados__contato {
    
    position: absolute;
}

.cor__link , a {
    color: var(--cor-link);

}

.fa-github {
    color: var(--cor-principal);
    background-color: var(--cor-preto);
}

 .email, .linkedin , .gitHub, 
 .site__fasam , .curso__alura {
    margin-left: 3px;
    text-decoration: none;

}

.email:hover , .linkedin:hover , .gitHub:hover , 
.site__fasam:hover , .curso__alura:hover {
    color: var(--hover-link);
}


.conteudo {
    display: flex;
}


.experiencia__profissional {
    display: inline;
    margin-top: 2em;
    margin-right: 15px;
    margin-left: 10px ;
    width: 100vw;

}


.experiencia , .formacao {
    color: var(--cor-preto);
    font-size: 24px;
} 

.estudos {
    width: 100%;
    margin-top: 2em;
    display: block;
    
}

h2 {
    color: var(--cor-cargo);
    margin: 10px 0 5px 0;
}

.periodo {
    color: var(--cor-principal);
    padding: 0.3em;
}


.itens {
    list-style: inside;
   
}


table ,th, tr, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.1em;
    text-align: center;
    
}

.cabecalho__tabela {
    color: var(--cor-tabelaTitulo);
    border-color: var(--cor-preto);
}

