:root {
    --background-body: rgb(166, 176, 177);
    --cor-principal: #FFFFFF;
    --cor-link: #1b16b9;
    --hover-link: rgba(12, 12, 11, 0.548);
    --dados-contato: hsl(24, 87%, 41%);
    --cor-preto: black;
    --cor-cargo: #920c4a;
    --cor-tabelaTitulo: rgb(177, 64, 19);
    --period-color: rgb(119, 137, 137);

}

* {
    
    box-sizing: border-box;

}

body {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    background: var(--cor-principal)
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

}

.profile__picture {
    width: 180px;
    height: 230px;
    border-radius: 100%;
    cursor: grab;
    transition: 0.2s;
    margin: 1em;

}

.profile__picture:hover {
    outline: 2px solid var(--cor-cargo);
    outline-offset: 10px;
}

.button__datas {
    border-radius: 30px;
    color: var(--cor-principal);
    background-color: var(--cor-cargo);
    text-transform: uppercase;
    padding: 0.7em;

}

.button__datas:hover {
    background-color: var(--cor-link);
}

.endFirstPart {
    border-color: #920c4a;
}

.close {

    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--cor-cargo);
    color: var(--cor-principal);
    text-transform: uppercase;
    padding: 13px;
    font-weight: 500;
    margin-right: 5px;

}

.name {
    font-size: 25px;
    color: var(--cor-preto);
}

.contact__datas {
    display: flex;
    color: var(--dados-contato);
    font-size: 18px;
    background-color: var(--cor-principal);
    gap: 3%;
}



.link__color,
a {
    color: var(--cor-link);


}

.fa-envelope {
    color: #920c4a;
    margin: 0;
    padding: 0;
}

.fa-github {
    color: var(--cor-principal);
    background-color: var(--cor-preto);
}

.email,
.linkedin,
.gitHub,
.fasam__website,
.alura__course {
    margin-left: 5px;
    text-decoration: none;

}

.email:hover,
.linkedin:hover,
.gitHub:hover,
.fasam__website:hover,
.alura__course:hover {
    color: var(--hover-link);
}

.container {
    display: flex;
    justify-content: space-around;
}

.professional,
.skills {
    margin: 1em;

}


.professional__experience,
.studies {
    margin-top: 1.5em;
}


.experience {
    color: var(--cor-preto);
    font-size: 24px;
    
}

h2 {
    color: var(--cor-cargo);
    margin: 10px 0 5px 0;
}

.period {
    padding: 0.3em;
    color: var(--period-color);
}


.items {
    list-style: inside;

}


table,
th,
tr,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.1em;
    text-align: center;

}

table {
    width: 20%;
}

.table__header {
    color: var(--cor-tabelaTitulo);
    border-color: var(--cor-preto);
}

.language__english,
.language__spanish {
    display: none;
}



@media (max-width: 738px) {



    body {
        font-size: 25px;
    }
    container
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;

    }

    .profile__picture {
        width: 150px;
        height: 150px;
    }

    .name {
        font-size: 40px;
        color: var(--cor-preto);
    }

    strong {
        color: red;
    }

    .contact__datas {
        font-size: 25px;
    }



    .button__datas {
        border-radius: 30px;
        color: var(--cor-principal);
        background-color: var(--cor-cargo);
        text-transform: uppercase;
        padding: 0.7em;

    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    table {
        display: none;
    }

    .period {
        display: none;
    }



    .language__english,
    .language__spanish {
        display: flex;
    }
}